<!DOCTYPE html>
<html>
    <head>
        
        <title>Book-A-Doc</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
        <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/"><i class="fa fa-heartbeat" aria-hidden="true"></i>Book-A-Doc</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
              </li>
              <li class="nav-item">
              <a class="nav-link" href="/contact">Contact</a>
            </li>
            
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <% if(!currentUser){ %>
            <li><a class="link" href="/register">Signup  <i class="fa fa-user-plus" aria-hidden="true"></i> </a></li>
            <li><a class="link" href="/registerdoctor">Doctor-Signup  <i class="fa fa-user-plus" aria-hidden="true"></i> </a></li>
            <li><a class="link" href="/login">Login<i class="fa fa-sign-in" aria-hidden="true"></i> </a></li>
            <%}else{%>
              <li style="margin-right:10px;color:white"><em>Logged in as <%=currentUser.firstname.toUpperCase()%> <%=currentUser.lastname.toUpperCase()%></em></li>
            <li><a class="link" href="/logout">Logout<i class="fa fa-sign-in" aria-hidden="true"></i> </a></li>
            <%}%>
          </ul>
          
          </form>
        </div>
      </nav>

