<%- include ('./partials/header')%>
<div class="about">
    <div class="container">
        <div class="jumbotron">

            <h2 style="margin-left:300px;font-size: 50px;">Your home for health 😊</h2>
            <p style="margin-left:200px;margin-top:10px;text-align:justify"> BOOK-A-DOC is the trusted and 
                familiar home where people know they’ll find a healing touch.</p>
                <p style="margin-left:40px;text-align:justify">
                It connects them with everything they need to take good care
                of themselves and their family - assessing health issues,
                finding the right doctor, booking diagnostic tests, obtaining 
                medicines, storing health records or learning new ways to live healthier.</p>
            <p style="margin-left:40px;text-align:justify">
                Healthcare providers can also harness the power of BOOK-A-DOC
                as the definitive platform that helps them build their presence,
                 grow establishments and engage patients more deeply than ever.
            </p>
          
               <h2 style="margin-left:400px;font-size: 50px;"> #DoGreat</h2> 
                <p style="margin-left:270px;margin-top:10px ;text-align:justify">Do Great is our motto and is the hallmark of BOOK-A-DOC.</p>
                <p style="margin-left:40px;text-align:justify">
                    It signifies the intrinsic motivation of BOOK-A-DOC is to strive for excellence. 
                    Every time.This means BOOK-A-DOC does its best work, not for want of rewards or
                    recognitions but because they expect it of themselves.</p>
        </div>
    </div>
</div>
<%- include ('./partials/footer')%>