<%- include ('./partials/header')%>
<div class="contact">
    <div class="container">
        <div class="jumbotron">
           
        <h2 style="text-align:center">
            Contact us 📞
        </h2>
        <div>
           <h5 style="text-align:center;padding:20px">
            Have questions about our products, support services, or anything else? Let us know and we’ll get back to you.
           </h5>
           <div style="text-align:center;margin-top:20px;padding:20px">
               <div>
                <h6>
                    Email  : </h6><p>
                        suryakangeyan4701@gmail.com
                    </p>
               </div>
          <div>
  
            <h6>
                Contact : </h6> <p>+91 9944312854</p>
          </div>
          <div>
 
            <h6>
                Address :</h6>
                <div>
                 <p>
                     3rd-yr Boys hostel,
                    </p>
                    <p>Kumaraguru college of Technology,</p>
                    <p>
                     Athipalayam Rd, Chinnavedampatti,
                    </p> 
                    <p>
                     Coimbatore, Tamil Nadu 641049
                    </p>
                </div> 
          </div>
           
          
           </div>
          
        </div>
        <div style="margin-left:300px">
            <p>
                BOOK-A-DOC is a subsidairy of ARRK Solutions Private Limited -Coimbatore.
            </p>
        </div>
        </div>
        
    </div>
</div>
<%- include ('./partials/footer')%>

