<%- include ('./partials/header')%>
<h1 style="margin-left:400px">Rejection Page!</h1>

<div class="approve">
    <div class="container">
        <div class="jumbotron">
            <div class="container">
                <form action="/doctor/reject/message" method="POST">
                      <input type="hidden" name="id" value=<%=id %>>
                      <div>
                        <label>
                            Reason :
                          
                        </label>
                     <input type="text" name="reason" placeholder="Reason for Rejection"></input>
                      </div>
                      
                    <button style="margin-top:10px" type="submit" class="btn btn-large btn-primary" name="button" >Submit</button>
                   </form>
               
            </div>
         
        <a  style="margin-top:10px" href="/doctor/recipts" class="btn btn-warning">Go Back</a>
           
        </div>
    </div>
</div>
   

   
<%- include ('./partials/footer') -%>