<%- include ('partials/header')%>
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-sm-6">
            <div class="jumbotron top">
                <div >
                    <h1 >  BOOK-A-DOC  👨‍⚕️ </h1>
                </div>
                <div id="a">
                    <p>ONLINE DOCTOR BOOKING WEBSITE</p>
                </div>
        
                <hr >
                
        </div>

    </div>
    
      </div>
      <div class="jumbotron bottom">
        <div class="tab " >
            <p>
              
                    Why wait for your doctor’s appointment year-round, while you can get it for yourself with the time & dates you are flexible with!</p>

        </div>
        <a style="letter-spacing: 1.5px;" href="/bookdoc" class="btn btn-sm btn-success">LOGIN TO ENTER</a>
        
      </div>
</div>

<%- include ('partials/footer')%>